*{
    background-color:lightgray;
}
h1{
    color:darkred;
    background-color: peachpuff;
}
.para1{
    color:gray ;  
}

ul{
    color: gray;
}
a{
    color: green;
}
.para2{
    color: gray;
}
h4{
    color: goldenrod;
    background-color: white;
}
.para3{
    color: gray;
}

